@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200;300;400&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #FEFAE0;
    font-family: "Anek Latin", sans-serif;
    letter-spacing: 1.2px;
    color: #745a3e;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 40px;
}

#content {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

#tools {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 150px;
    align-items: center;
}

#reset, #changeSizeButton, #randomButton {
    padding: 7px 20px;
    border: 1.6px solid #D4A373;
    border-radius: 4.8px;
    background-color: #f8efdb;
    color: #745a3e;
    font-family: "Anek Latin", sans-serif;
    font-size: 1.2rem;
}

#randomButton {
    margin: 5px;
}

#reset:hover, #changeSizeButton:hover, #randomButton:hover {
    background-color: #dac69e;
    color: white;
    box-shadow: 0 0 6.4px gray;
}

#sizeSelector {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border: 1.6px solid #D4A373;
    border-radius: 5px;
    padding: 12px;
}

#sizeSelector > input {
    display: block;
    width: 120px;
}

.error {
    font-size: 1.0rem;
    color: red;
}

#changeSizeButton {
    padding: 6.4px 32px;
}

#colorSelector{
    display: flex;
    flex-direction: column;
    gap: 6.4px;
}

.colorRow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 6px;
}

#thirdRow {
    justify-content: center;
    gap: 9px;
    margin-top: 16px;
}

#thirdRow > input {
    width: 45px;
    height: 45px;
    appearance: none;
     -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 1px solid #D4A373;
    border-radius: 5px;
    padding: 0;
}

::-webkit-color-swatch-wrapper {

    padding: 1px;
}

::-webkit-color-swatch {
    border: 1px;
    border-radius: 0;
}

::-moz-color-swatch,
::-moz-focus-inner {
    border: 1px;
}

::-moz-focus-inner {
    padding: 0;
}

#eraser {
    border-radius: 0.3rem;
    padding: 2.5px;
}

.color {
    width: 16px;
    height: 16px;
    border: 1px solid #D4A373;
    padding: 13px;
    border-radius: 5px;
}

.color, #picker, #reset, #changeSizeButton, #eraser, #randomButton {
    cursor: pointer;
}

.selected {
    outline: 3px solid #8d7b67;
}

img {
    width: 50px;
    height: 50px;
}

#tools, .board {
    border: 13px solid #CCD5AE;
    padding: 30px;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    width: 480px;
    height: 480px;

    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.lastRow {
    border-bottom: 1px solid #b3a9a0;
}

.square {
    flex: 1;
    border-top: 1px solid #b3a9a0;
    border-left: 1px solid #b3a9a0;
    background-color: white;
}

.lastCol {
    border-right: 1px #b3a9a0 solid;
}

@media only screen and (max-width: 900px) {
    #content{
        flex-direction: column-reverse;
    } 

    #tools {
        flex-direction: row;
        justify-content: space-between;
        max-width: 640px;
        align-items: center;
        gap: 20px
    }
    .error {
        width: 150px;
    }
}

@media only screen and (max-width: 600px) {

    .board {
        width: 290px;
        height: 290px;
        padding: 20px
    }

    .canvas {
        width: 290px;
        height: 290px;
    }

    #tools {
        flex-direction: column;
        justify-content: space-between;
        width: 250;
        padding: 25px;
    }

    #reset {
        padding: 20px 70px;
    }

    #sizeSelector > input {
        width: 180px
    }

    #colorSelector {
        gap: 15px;
        justify-content: center;
        align-items: center;
    }

    #randomButton{
        padding: 15px 50px;
    }

    .color {
        padding: 17px;
    }

    #thirdRow > input {
        width: 52px;
        height: 52px;
    }
    
    .colorRow {
        gap: 20px;
    }
}