@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200;300;400&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #FEFAE0;
    font-family: "Anek Latin", sans-serif;
    letter-spacing: 0.1rem;
    color: #745a3e;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 2.5rem;
}

#content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#tools {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#reset, #changeSizeButton {
    padding: 0.4rem 1.2rem;
    border: 0.1rem solid #D4A373;
    border-radius: 0.3rem;
    background-color: #f8efdb;
    color: #745a3e;
    font-family: "Anek Latin", sans-serif;
    font-size: 1.2rem;
}

#reset:hover, #changeSizeButton:hover {
    background-color: #dac69e;
    color: white;
    box-shadow: 0 0 0.4rem gray;
}

#sizeSelector {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9rem
}

#sizeSelector > input {
    display: block;
    width: 8rem;
}

.error {
    font-size: 1.0rem;
    color: red;
}

#changeSizeButton {
    padding: 0.4rem 2rem;
}

#tools, .board {
    border: 0.8rem solid #CCD5AE;
    padding: 1.8rem;
}


.canvas {
    width: 25rem;
    height: 25rem;

    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.lastRow {
    border-bottom: 1px solid #b3a9a0;
}

.square {
    flex: 1;
    border-top: 1px solid #b3a9a0;
    border-left: 1px solid #b3a9a0;
    background-color: white;
}

.lastCol {
    border-right: 1px #b3a9a0 solid;
}